<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>درخواست کتاب (خدمات ویژه)</h3>
      <hr>
    </div>
  </div>


  <div fxFlex fxLayout="column"
       fxLayoutAlign="center center"
       dir="rtl"
       *ngIf="!loading">
    <form [formGroup]="form"  (ngSubmit)="sendRequest()" class="form">
      <mat-form-field class="form-element">
        <input matInput placeholder="نام کتاب" formControlName="title">
        <mat-error *ngIf="!form.controls['title'].valid && form.controls['title'].touched">
          <p>تکمیل این فیلد اجباری می باشد</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="نویسنده کتاب" formControlName="author">
        <mat-error *ngIf="!form.controls['author'].valid && form.controls['author'].touched">
          <p>تکمیل این فیلد اجباری می باشد</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element" appearance="fill">
        <mat-label>ایمیل</mat-label>
        <input matInput formControlName="email" placeholder="ایمیل">
        <mat-error *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
          <p>تکمیل این فیلد به درستی اجباری می باشد</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-element" appearance="fill">
        <mat-label>شماره تماس (اختیاری)</mat-label>
        <input matInput formControlName="mobile" placeholder="شماره تماس (اختیاری)">
      </mat-form-field>
      <mat-form-field class="form-element" appearance="fill">
        <mat-label> توضیحات (اختیاری)</mat-label>
        <textarea rows="7" formControlName="description" matInput placeholder="توضیحات در مورد کتاب"></textarea>
      </mat-form-field>


      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!form.valid">درخواست کتاب</button>
      </div>
    </form>
  </div>

  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner><h4>در حال بارگذاری....</h4>
  </div>

</div>

<swal
  #SwalSuccess
  title="درخواست شما با موفقیت ثبت شد"
  icon="success"
>
</swal>

<swal
  #SwalFail
  title="اشکالی به وجود آمده لطفا مجددا امتحان کنید"
  icon="error"
>
</swal>
