<div class="container-fluid"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>کتاب های گروه  {{category.field}}</h3>
      <hr>
    </div>
  </div>
  <div fxFlex
       fxLayout="row wrap"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutAlign.xs="space center"
       fxLayoutAlign.sm="space center"
       fxLayoutAlign.gt-sm="start center"
       *ngIf="!loading">
    <div *ngFor="let book of books">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>نام کتاب: {{book.title}}</mat-card-title>
          <mat-card-subtitle>نام نویسنده: {{book.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{book.imageUrl}}" alt="{{book.title}}">
        <mat-card-content>
          <p>
            {{book.description}} </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mr-2" mat-flat-button color="accent" [disabled]="book.fullVersion" (click)="download(book.pdfUrl)" >دانلود نسخه نمونه</button>
          <button mat-flat-button color="primary" [disabled]="!book.fullVersion" (click)="download(book.pdfUrl)"  >دانلود نسخه کامل</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="cent" *ngIf="loading">
    <mat-spinner></mat-spinner><h4>در حال جستجو....</h4>
  </div>

  <div fxFlex class="mb-5"></div>

</div>
