.example-card {
  width: 330px;
  text-align: center!important;
  margin: 10px 10px;
}

img {
  width: 240px;
  height: 310px;
}
mat-card-title {
  font-size: medium!important;
}

mat-card-content {
  font-size: small !important;
}


