<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>مدیریت کتاب ها
        <span class="flex-spacer"></span>
        <button mat-flat-button class="ml-4" color="accent" (click)="logout()">خروج</button>
      </h3>
      <hr>
    </div>
  </div>
  <div fxFlex
       fxLayout="row"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutAlign.xs="center center"
       fxLayoutAlign.sm="center center"
       fxLayoutAlign.gt-sm="center center"
       fxLayoutGap="10px">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h4>اضافه نمودن دسته بندی </h4></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/img/books_blue_add.png" alt="">
      <mat-card-content>
        <p>
           شما می توانید یه دسته جدید برای کتاب ها اضافه کنید
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="add_category">ورود به این بخش</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h4>اضافه نمودن کتاب </h4></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/img/book_blue_add.png" alt="">
      <mat-card-content>
        <p>
          در این بخش شما می توانید کتاب های جدید را اضافه کنید
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="add_book">ورود به این بخش</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h4>حذف دسته بندی / کتاب</h4></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/img/book_blue_delete.png" alt="">
      <mat-card-content>
        <p>
          حذف دسته و کتاب در این بخش می تواند انجام پذیرد
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="delete">ورود به این بخش</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h4>مشاهده درخواست‌ها</h4></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/img/request.png" alt="">
      <mat-card-content>
        <p>
          درخواست‌های کاربران در این بخش قابل مشاهده است
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="log">ورود به این بخش</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h4>سایر موارد مرتبط</h4></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="./assets/img/other.png" alt="">
      <mat-card-content>
        <p>
          اطلاعات مدیر سایت در این بخش بارگذاری می‌شود
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" routerLink="other">ورود به این بخش</button>
      </mat-card-actions>
    </mat-card>

  </div>


  <div fxFlex class="mb-5"></div>


</div>
