<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>ورود به پنل مدیریتی</h3>
      <hr>
    </div>
  </div>

  <div fxFlex fxLayout="column"
  fxLayoutAlign="center center"
  dir="rtl">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
      <mat-form-field class="form-element">
        <input matInput type="text" placeholder="ایمیل" formControlName="email">
        <mat-error *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
          <p>تکمیل این فیلد اجباری می باشد</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput type="password" placeholder="رمز عبور" formControlName="password">
        <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
          <p>تکمیل این فیلد اجباری می باشد</p>
        </mat-error>
      </mat-form-field>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!loginForm.valid" >ورود</button>
      </div>
    </form>
  </div>
</div>

<swal
  #SwalSuccess
  title="خوش آمدید"
  icon="success"
  >
</swal>

<swal
  #SwalFail
  title="نام کاربری یا رمز عبور صحیح نمی‌باشد"
  icon="warning"
>
</swal>

<swal
  #SwalFound
  title="کاربری یافت نشد"
  icon="error"
>
</swal>
