<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>کتاب مرتبط با گروه {{category.field}}</h3>
      <hr>
    </div>
  </div>
  <div fxFlex
       fxLayout="row wrap"
       fxLayout.sm="column"
       fxLayout.xs="column"
       fxLayoutAlign.xs="space center"
       fxLayoutAlign.sm="space center"
       fxLayoutAlign.gt-sm="start start"
       fxLayoutGap="10px">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>نام کتاب: {{book.title}}</mat-card-title>
          <mat-card-subtitle>نام نویسنده: {{book.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{book.imageUrl}}" alt="">
        <mat-card-content>
          <p>
            توضیحات کتاب: {{book.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button >بازگشت</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex class="mb-5"></div>

</div>
