.example-card {
  max-width: 300px;
  margin: 10px;
}

img {
  width: 280px;
  height: 180px;
}
mat-grid-tile-footer {
  background: transparent !important;
}
mat-grid-tile {
  margin-bottom: 40px;
}
